.news-container .title {
  font-family: var(--title-font) ;
  font-size: 40px;
}

.news-container .text {
  text-overflow: "..."; 
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: var(--text-font);
}

.news-container .date {
  position: absolute;
  width: 830px;
  text-align: right;
}

.news-container {
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;   
  border: 2px solid var(--border-color);
  margin-bottom: 10px;
  width: 830px;
}