image: node:10.16.2-alpine

# Defining some variables rather than repeating them everywhere.
variables:
  DOCKER_DRIVER: overlay2
  IMAGE_NAME: us.gcr.io/elypia/elypia-website
  SERIALIZED_IMAGE: elypia-website.tar

stages:
  - prepare
  - test
  - build-website
  - build-docker
  - deploy-docker
  - deploy-k8s

# All cache are uploaded and downloaded everywhere to avoids
# tasks or other builds from removing eachothers files.
cache:
  policy: pull-push
  paths:
    - dist/
    - images/
    - node_modules/

prepare-init:
  stage: prepare
  script:
    - npm install
    - npm rebuild node-sass

test-lint:
  stage: test
  script:
    - npm run-script lint
  cache:
    policy: pull
    paths:
      - node_modules/

test-unit:
  stage: test
  script:
    - npm run-script test
  cache:
    policy: pull
    paths:
      - node_modules/

# TODO: Enable e2e tests.
.test-e2e:
  stage: test
  script:
    - npm run-script e2e
  cache:
    policy: pull
    paths:
      - node_modules/

# Before releasing a new version, make sure the package.json version
# matches the name (tag) of the version being deployed.
test-version:
  stage: test
  image: alpine:3.10.1
  only:
    - tags
  script:
    - |
      PROJECT_VERSION=`grep -ohEm 1 '\d+\.\d+\.\d+' ./package.json`
      if [ "${PROJECT_VERSION}" != "${CI_COMMIT_TAG}" ]; then
        echo git tag does not match version specified in package.json
        exit 1
      fi
  cache: {}

# Compile the website into static assets.
build-website:
  stage: build-website
  script:
    - npm run-script build

# Build the Dockerfile, the image is only used when by deploy-docker if deploying.
build-docker:
  stage: build-docker
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  script:
    - docker build -t ${IMAGE_NAME}:latest .
    - mkdir -p images
    - docker save ${IMAGE_NAME} > images/${SERIALIZED_IMAGE}

# Deploy our new Docker Image to Google Container Registry (Private)
deploy-docker:
  only:
    - tags
  stage: deploy-docker
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  script:
    - docker load -i images/${SERIALIZED_IMAGE}
    - docker tag ${IMAGE_NAME}:latest ${IMAGE_NAME}:${CI_COMMIT_TAG}
    - cat ${GCP_SA_KEY} | docker login -u _json_key --password-stdin https://us.gcr.io
    - docker push ${IMAGE_NAME}:${CI_COMMIT_TAG}
  cache:
    policy: pull
    paths:
      - images/

# Apply the current Kubernetes Configuration
deploy-k8s:
  only:
    - tags
  stage: deploy-k8s
  image: google/cloud-sdk:257.0.0
  script:
    - gcloud auth activate-service-account --key-file ${GCP_SA_KEY}
    - gcloud container clusters get-credentials ${K8S_CLUSTER} --zone ${GCP_ZONE} --project elypia
    - sed -i 's/{{CI_COMMIT_TAG}}/'${CI_COMMIT_TAG}'/g' kubernetes.yml
    - kubectl apply -f kubernetes.yml
  cache: {}
