<div class="outside-container">
  <div class="container">
    <footer>
      <div id="footer-top">
        <img  src="assets/elypia_logo.png" alt="Panda Wink Emote"/>
        <div>
          <p>32 Example Avenue, London, LU2 0WA, United Kingdom</p>
        </div>
        <img src="assets/barcode.png" alt="Shhh..."/>
        <app-social></app-social>
      </div>
      <div id="source-code">
        <a class="hover" href="https://gitlab.com/Elypia/elypia.com-website" target="_blank">
          <i class="fab fa-gitlab"></i> Source Code
        </a>
      </div>
    </footer>
  </div>
</div>
