footer {
  padding: 1em;
}

#footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#footer-one {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

address {
  margin-left: 1em;
}

img {
  max-height: 64px;
}

#address-info {
  margin-left: 1em;
}

#meta {
  padding-top: 0.5em;
  text-align: center;
}

#copyright {
  margin-top: 0.5em;
}

@media all and (min-width: 720px) {
  #footer-top {
    flex-direction: row;
  }
}
