<footer class="container">
  <div id="footer-top">
    <div id="footer-left">
      <img  src="assets/elypia_logo.png" alt="Panda Wink Emote"/>
      <address>
        32 Example Avenue<br/>
        London, LU2 0WA<br/>
        United Kingdom
      </address>
    </div>
    <app-social></app-social>
  </div>
  <div id="source-code">
    <a class="hover" href="https://gitlab.com/Elypia/elypia.com-website" target="_blank">
      <i class="fab fa-gitlab"></i> Source Code
    </a>
  </div>
</footer>
