mat-card {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0.5em 1em;
}

.fund-details {
  margin: 1em 0 0 0;
}

@media all and (min-width: 512px) {
  mat-card {
    display: grid;
    grid-template-columns: 15% 84%;
    justify-content: space-between;
    text-align: left;
  }

  .icon {
    text-align: center;
  }

  .fund-details {
    margin: 0 0 0 1em;
  }
}
