<div class="container">
  <div id="press-kit-content">
    <mat-card>
      <h3 i18n>Press Kit</h3>
      <p i18n>
        This press kit is dedicated to users or publishers that may want to
        publish anything that references Elypia and wants to use it's branding.
        This page covers some assets that can be used, and any guildlines to using them.
      </p>
    </mat-card>
    <mat-card>
      <h3 i18n>Guidelines</h3>
      <ul>
        <li i18n>It's best to leave the Elypia logo as is, but you may alter the hue.</li>
        <li i18n>Other than as explicitly stated, don't modify or reconfigure the Elypia logo.</li>
        <li i18n>Unless expplicityly stated, use Elypia's branding only where it does not suggest Elypia endorses your content.</li>
      </ul>
    </mat-card>
  </div>
</div>
