<div class="outside-container">
  <div class="container">
    <header>
      <a [routerLink]="''">
        <img src="assets/elypia_white.png" alt="Elypia Logo">
      </a>
      <div>
        <ul>
          <li><button routerLink="/about" mat-button>About</button></li>
          <li><button mat-button>Games</button></li>
          <li><button mat-button>Services</button></li>
          <li><button mat-button>Libraries</button></li>
          <li><button mat-button>Support</button></li>
        </ul>
        <div *ngIf="env.isDynamicMode()">
          <a [routerLink]="'login'">Login</a>
          <a [routerLink]="'login'" [queryParams]="{registering: true}">Register</a>
        </div>
      </div>

    </header>
  </div>
</div>
