<ul>
  <li><a href="https://discord.gg/hprGMaM" target="_blank"><i class="fab fa-discord hover"></i></a></li>
  <li><a href="https://reddit.com/r/elypia/" target="_blank"><i class="fab fa-reddit-alien hover"></i></a></li>
  <li><a href="https://twitch.tv/elypiatv" target="_blank"><i class="fab fa-twitch hover"></i></a></li>
  <li><a href="https://twitter.com/Elypia" target="_blank"><i class="fab fa-twitter hover"></i></a></li>
  <li><a href="https://gitlab.com/Elypia" target="_blank"><i class="fab fa-gitlab hover"></i></a></li>
</ul>
