<div class="content content-page">
  <h1>Support Elypia</h1>
  <p>Elypia doens't make much money since everything we do is open-source, and most of it is free.</p>
  <p>Funding of various kinds are what allow us and will continue to allow us to keep doing things the we are.</p>
  <div id="donation-methods">
    <app-fund-method url="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DBXVG4F28J4FW&source=url"
                     name="PayPal"
                     description="If you have a PayPal account it's pretty simple to donate through it either using
                                the attached credit/debit card or bank account our of your PayPal balance flat out.">
      <i class="fund-icon fab fa-paypal fa-4x"></i>
    </app-fund-method>
    <app-fund-method url="https://www.redbubble.com/people/Elypia/"
                     name="Redbubble"
                     description="Redbubble is a site where you can buy merchandise like stickers or shirts
                                with custom artwork on them. We have some merch for Elypia here with branding and
                                our cute panda emotes in various colors, feel free to check it out.">
      <i class="fund-icon fas fa-tshirt fa-4x"></i>
    </app-fund-method>
  </div>
</div>
