#donation-methods {
  margin-top: 1em;
  display: block;
}

app-fund-method {
   margin: 0 0.5em;
}

@media all and (min-width: 1024px) {
  #donation-methods {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
