#press-kit-guidelines ul li {
  margin-left: .5em;
}

#press-kit-content mat-card, app-logo-download {
  margin-bottom: 1em;
}

#press-kit-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#press-kit-text-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-logo-download {
  width: 256px;
  flex-grow: 1;
  margin: .5em 0;
}

#press-kit-colors-list app-company-color {
  display: block;
  margin: 1em .5em;
}

#download-everything {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#download-everything h3 {
  margin: 1em 0 .5em 0;
}

@media (min-width: 720px) {
  #press-kit-content {
    display: flex;
  }

  app-logo-download + app-logo-download {
    margin-left: .5em;
  }

  #press-kit-colors-list {
    display: flex;
    flex-direction: row;
  }

  #press-kit-colors-list app-company-color {
    width: 128px;
    flex-grow: 1;
    transition: margin-top .3s ease-in-out;
  }

  #press-kit-colors-list app-company-color:hover {
    margin-top: .75em;
  }
}
