<div class="container">
  <div id="press-kit-content">
    <mat-card>
      <h3 i18n="@@press-kit-heading">Press Kit</h3>
      <p i18n="@@press-kit-about">
        This press kit is dedicated to users or publishers that may want to
        publish anything that references Elypia and wants to use it's branding.
        This page covers some assets that can be used, and any guidelines to using them.
      </p>
    </mat-card>
    <mat-card id="press-kit-guidelines">
      <h3 i18n="@@press-kit-guidelines">Guidelines</h3>
      <ul>
        <li i18n="@@press-kit-changing-hue-permitted">
          It's best to keep the logo as true as possible, but you may alter the hue/saturation.
        </li>
        <li i18n="@@press-kit-no-other-modifications">
          Other than as explicitly stated, don't modify or reconfigure the Elypia logo.
        </li>
        <li i18n="@@press-kit-no-endorsements">
          Don't use Elypia's branding where it suggests Elypia endorses your content.
        </li>
      </ul>
    </mat-card>
  </div>
  <div id="press-kit-logos">
    <app-logo-download imageUrl="/assets/branding/elypia_logo_by_nikky.svg"
                       i18n-imageAlt="@@branding-elypia-logo" imageAlt="Elypia Logo by Nikky"
                       i18n-imageDescription="@@elypia-logo-description" imageDescription="Elypia Logo">
    </app-logo-download>
    <app-logo-download imageUrl="/assets/branding/elypia_logo_no-fill_by_nikky.svg"
                       i18n-imageAlt="@@branding-elypia-logo-no-fill" imageAlt="Elypia Logo without Fill by Nikky"
                       i18n-imageDescription="@@elypia-badge-description" imageDescription="Elypia Badge">
    </app-logo-download>
    <app-logo-download imageUrl="/assets/branding/elypia_logo_icon_by_nikky.svg"
                       i18n-imageAlt="@@branding-elypia-logo-icon" imageAlt="Elypia Icon by Nikky"
                       i18n-imageDescription="@@elypia-icon-description" imageDescription="Elypia Icon">
    </app-logo-download>
  </div>
  <div id="press-kit-text-logos">
    <app-logo-download imageUrl="/assets/branding/elypia_logo_with_text.svg"
                       i18n-imageAlt="@@branding-elypia-logo-text" imageAlt="Elypia Logo with our Name"
                       i18n-imageDescription="@@elypia-logo-text-description" imageDescription="Elypia Logo w/Name">
    </app-logo-download>
    <app-logo-download imageUrl="/assets/branding/elypia_text.svg"
                       i18n-imageAlt="@@branding-elypia-text" imageAlt="Elypia Text"
                       i18n-imageDescription="@@elypia-logo-text-description" imageDescription="Elypia Name">
    </app-logo-download>
  </div>
  <mat-card id="press-kit-colors">
    <h3 i18n="@@press-kit-color-palette">Elypia Color Palette</h3>
    <div id="press-kit-colors-list">
      <app-company-color backgroundColorRgb="#17679A" colorRgb="#E2E5F8"
                         i18n-colorName="@@color-palette-blue" colorName="Blue"></app-company-color>
      <app-company-color backgroundColorRgb="#FFFFFF" colorRgb="#6C6C6C"
                         i18n-colorName="@@color-palette-white" colorName="White"></app-company-color>
      <app-company-color backgroundColorRgb="#404040" colorRgb="#E9ECEF"
                         i18n-colorName="@@color-palette-dark" colorName="Dark"></app-company-color>
      <app-company-color backgroundColorRgb="#2C2C2C" colorRgb="#D5D6D7"
                         i18n-colorName="@@color-palette-darker" colorName="Darker"></app-company-color>
      <app-company-color backgroundColorRgb="#1B1B1B" colorRgb="#CFD0D1"
                         i18n-colorName="@@color-palette-darkest" colorName="Darkest"></app-company-color>
    </div>
  </mat-card>
</div>
