<div class="content">
  <h1>ePrivacy Directive</h1>
  <h2>Last updated on 1st August 2019</h2>
  <p>
    We try to minimize the use of cookies or local storage where possible without reducing
    the functionality if the website or services. Due to this <strong>we</strong> don't add any tracking
    or analytics cookies so see what you do nor send that data to advertisers.
  </p>
  <p>
    We are embedding code from other websites so they may also add cookies while your browse this website,
    for example Discord or FontAwesome.
  </p>
  <p>
    This is a manual list that notes down all (or at least most) cookies (or localstorage and session storage)
    that's in active use.
  </p>
  <table mat-table multiTemplateDataRows [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{element.type}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="domain">
      <th mat-header-cell *matHeaderCellDef>Domain (* Third-Party)</th>
      <td mat-cell *matCellDef="let element">{{element.domain}}</td>
    </ng-container>
    <ng-container matColumnDef="expires">
      <th mat-header-cell *matHeaderCellDef>Expires (Days)</th>
      <td mat-cell *matCellDef="let element">{{element.expires}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element" class="description">{{element.description}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
