<article *ngIf="article">
  <div class="title">
    <h2>
      <a *ngIf="link" [routerLink]="['/article', article.id]">{{article.title}}</a>
      <span *ngIf="!link">{{article.title}}</span>
    </h2>
    <ely-timestamp [date]="article.createdDate" [updateDate]="article.modifiedDate">
      <mat-icon fontSet="fas" fontIcon="fa-calendar-edit"></mat-icon>
    </ely-timestamp>
  </div>
  <markdown class="content">{{article.content}}</markdown>
  <p class="tag">{{article.tags.join(' | ')}}</p>
</article>
