<mat-expansion-panel *ngIf="article" [expanded]="open">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>{{article.title}}</span>
      <ely-timestamp [date]="article.createdDate" [updateDate]="article.modifiedDate">
        <mat-icon fontSet="fas" fontIcon="fa-calendar-edit"></mat-icon>
      </ely-timestamp>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <markdown class="content">{{article.content}}</markdown>
  <p class="tag">{{article.tags.join(' | ')}}</p>
</mat-expansion-panel>
