mat-panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.fas.fa-calendar-edit {
  padding-right: 0.25em;
}

.tag {
  font-size: .8em;
}
