<div class="content">
  <h1>Privacy Policy</h1>
  <h2>Last updated on 1st August 2019</h2>
  <p>
    This privacy policy will try cover a broad range of Elypia's websites and services. It may be a good idea
    to check if a particular service you're curious about has it's own policy on top of this general one.
  </p>
  <p>
    The Elypia website currently doesn't store any information on users, however the web server that
    is running the webpage you are viewing right now will have logged basic information about your connection such
    as IP address.
  </p>
</div>
