<!-- <canvas id="boobz-border" width="500px" height="200px"></canvas> -->
<img id="boobs-imitator" src="assets/alexis_banner.png">

<div id="left-arrow-container">
  <div class="boobs-arrow"></div>
  <div class="fill-arrow"></div>
  <span>←</span>
</div>

<div id="banners">
  <!-- <img class="slide" src="assets/thebest_banner.png">
  <img class="slide" src="assets/alexis_elypia.png" style="opacity: 0">
  <img class="slide" src="assets/alexis_banner.png" style="opacity: 0"> -->
</div>

<img id="logo-boobs" src="assets/Logos/Image/Elypia Pandi@0.5x.png">

<div id="right-arrow-container">
  <div class="boobs-arrow"></div>
  <div class="fill-arrow"></div>
  <span>→</span>          
</div>  