.footer {
  position: fixed;
  height: 100px;
  width: 100%;
  bottom: 0%;
  background-color: var(--navbar-color);
  border-top: solid 4px var(--border-color);
}

.footer #elypia_code {
  height: 70px;
  position: absolute;
  margin-top: 15px;
  margin-left: calc(-50% + 340px);
  user-select: none;
  -moz-user-select: none;
}

.footer #cookie {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}