<mat-tab-group>
  <mat-tab label="Login">
    <form class="login-form" #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="fields">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput required email
                 [(ngModel)]="email" #emailModel="ngModel"
                 (blur)="checkEmailExists()"
                 name="email" type="email" placeholder="panda@elypia.org"
                 tabindex="1"/>
          <mat-hint *ngIf="formType === LoginFormType.REGISTER">You'll be asked to verify it post-registration!</mat-hint>
          <mat-error *ngIf="emailModel.invalid">
            <mat-error *ngIf="emailModel.errors['email']">
              Please enter a valid email address!
            </mat-error>
            <mat-error *ngIf="emailModel.errors['required']">
              Email is <strong>required</strong>!
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div ngModelGroup="pmg" #pmg="ngModelGroup" [elyEquals]="['password', 'verifyPassword']">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matNativeControl required minlength="8" maxlength="72"
                 [(ngModel)]="password" #pm="ngModel"
                 name="password" type="password" placeholder="anything but 'password'"
                 tabindex="2"/>
          <mat-hint *ngIf="formType === LoginFormType.REGISTER">Considered using a password manager?</mat-hint>
          <mat-error *ngIf="pm.invalid && (pm.errors['minlength'] || pm.errors['maxlength'])">
            Password must be between 8 and 72 characters!
          </mat-error>
          <mat-error *ngIf="pm.invalid && pm.errors['required']">
            Password is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="formType === LoginFormType.REGISTER">
          <mat-label>Verify Password</mat-label>
          <input matNativeControl [(ngModel)]="verifyPassword"
                 [errorStateMatcher]="matcher"
                 name="verifyPassword" type="password" placeholder="<-"
                 tabindex="4"/>
          <mat-error *ngIf="pm.valid && pmg.invalid && pmg.errors['equals']">
            Password must match!
          </mat-error>
        </mat-form-field>
      </div>

      <mat-checkbox name="rememberMe" [(ngModel)]="rememberMe">Remember me!</mat-checkbox>

      <ely-stateful-button [state]="submissionState">
        {{(formType === LoginFormType.REGISTER) ? 'Register' : 'Login'}}
      </ely-stateful-button>

      <div *ngIf="newEmail">
        It looks like you're new here so we brought up registration form instead for you!
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Register">

  </mat-tab>
  <mat-tab label="Forgot Password?">

  </mat-tab>
</mat-tab-group>
