mat-toolbar {
  height: 72px;
  position: sticky;
  top: 0;

  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 64px;
}

ul, li {
  display: inline;
  list-style: none;
  padding: 0 0.5em;
}
