.header {
  font-family: var(--header-font);
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.8;
  transition: all 0.2s;
  cursor: pointer;  
}

.header:hover {
  opacity: 1.0;
}

.hidden .header {
  display: block;
  font-size: 20px;  
}

.dropdown {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-radius: 8px;
  z-index: 2;
  position: relative;
}

.dropdown:hover {
  background-color: var(--dropdown-color);  
}

.dropdown:hover .hidden {
  display: block;
}

.dropdown .hidden {
  position: absolute;
  padding-bottom: 5px;
  display: none;
  width: 100%;
  background-color: var(--dropdown-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
