<h2 id="locale-title">
  <span i18n>Language Selection</span>
  <sup i18n-matTooltip matTooltip="You don't need to know how to code to contribute and support Elypia; come translate on Weblate!"
       matTooltipPosition="above">
    <i class="hover fas fa-info-circle"></i>
  </sup>
</h2>
<div *ngFor="let locale of Locales" class="locale">
  <a mat-button class="locale-button"
     href="/{{locale.code}}{{router.url}}"
     [hreflang]="locale.code"
     [disabled]="isCurrentLocale(locale)">
    {{locale.displayName}}
  </a>
  <a mat-button class="locale-link"
     href="https://i18n.elypia.org/engage/elypia-website/{{locale.codeUnderscore()}}/?utm_source=widget"
     [hreflang]="locale.code" target="_blank">
    <img class="locale-badge"
         src="https://i18n.elypia.org/widgets/elypia-website/{{locale.codeUnderscore()}}/elypia-website/svg-badge.svg"
         alt="Contribute to translations on Weblate"/>
  </a>
</div>
