#locale-title {
  text-align: center;
  margin-bottom: .5em;
}

#locale-contribute {
  font-size: .5em;
  margin-left: .5em;
}

.locale {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  user-select: none;
}

.locale-option, .locale-link {
  margin: .25em .5em;
}

.disabled {
  opacity: .5;
}

.locale-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.locale-badge {
  display: inline;
}
