<h2 id="locale-title">
  <span i18n>Language Selection</span>
  <sup id="locale-contribute" i18n-matTooltip
       matTooltip="You don't need to know how to code to contribute and support Elypia; come translate on Weblate!"
       matTooltipPosition="above">
    <fa-icon class="hover" [icon]="['fas', 'info-circle']"></fa-icon>
  </sup>
</h2>
<div *ngFor="let locale of Locales" class="locale">
  <ng-container *ngIf="!isCurrentLocale(locale) else disabledLocale">
    <a mat-button class="locale-option" href="/{{locale.code}}{{router.url}}" [hreflang]="locale.code">
      {{locale.displayName}}
    </a>
  </ng-container>
  <ng-template #disabledLocale>
    <span class="locale-option disabled">{{locale.displayName}}</span>
  </ng-template>
  <a mat-button class="locale-link hover-excluded"
     href="https://i18n.elypia.org/engage/elypia-website/{{locale.codeUnderscore()}}/"
     [hreflang]="locale.code" target="_blank" rel="noopener">
    <img class="locale-badge"
         src="https://i18n.elypia.org/widgets/elypia-website/{{locale.codeUnderscore()}}/elypia-website/svg-badge.svg"
         i18n-alt alt="Contribute to translations on Weblate"/>
  </a>
</div>
