@import '~@angular/material/theming';

html, body, app-root, div, header, footer,
h1, h2, h3, h4, h5, h6,
p, a, li {
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;
}

html, body, app-root {
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1265px;
  min-width: 705px;
}

a {
  text-decoration: none;
}

/** Anything hovertable that's not hovered should be dimmed. */
.hover:not(:hover) {
  opacity: 0.8;
}

/** Hide content statically from the webpage. */
.hidden {
  display: none !important;
  visibility: hidden !important;
}
