@import '~@angular/material/theming';
@import "app/components/footer/footer.component.theme";
@import "app/pages/donate/donate.component.theme";

@include mat-core();

/** Dark Theme */
$dark-primary: mat-palette($mat-blue, 600, 200, 800);
$dark-accent: mat-palette($mat-blue-gray);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent);

.elypia-dark-theme {
  @include angular-material-theme($dark-theme);
  @include app-footer-theme($dark-theme);
  @include app-donate-theme($dark-theme);
}

/** Light Theme */
$light-primary: mat-palette($mat-blue, 600, 200, 800);
$light-accent: mat-palette($mat-light-blue);
$light-theme: mat-light-theme($light-primary, $light-accent);

.elypia-light-theme {
  @include angular-material-theme($light-theme);
  @include app-footer-theme($light-theme);
  @include app-donate-theme($light-theme);
}
