/* You can add global styles to this file, and also import other style files */
body {
  --body-color: #202020;
  --navbar-color: #282828;
  --border-color: #3b3b3b;
  --dropdown-color: #191919;
  --foreground-color: white;
  --header-font: 'Megrim';
  --title-font: 'Wire One';
  --text-font: 'Raleway';
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
  color: var(--foreground-color);
  overflow: hidden;    
}

a {
  color: var(--text-color);
  text-decoration: none;
  outline: none;
}