.navbar {  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  transition: all 0.2s;
  background-color: var(--navbar-color);
  border-bottom: solid 4px var(--border-color);
  font-family: var(--header-font);  
}

.navbar * {
  -moz-user-select: none;
  user-select: none;
}

.nav-hidden {
  margin-top: -100px !important;
}

.navbar-arrow-hidden {
  transform: rotateX(180deg) !important;
}

.navbar .links {
  margin-left: 30px;
  margin-right: 250px;    
}

.navbar .links .discord {
  position: absolute;
  width: 50px;
  margin-top: -10px;
  margin-left: 110px;
  cursor: pointer;  
  opacity: 0.8;
  transition: all 0.2s;  
}

.navbar .links .discord:hover {
  opacity: 1.0;
}

.navbar login-form {
  position: absolute;
  margin-left: -30px;  
  margin-top: -240px;
  z-index: 15;
}

.nav-arrow {
  -moz-user-select: none;
  user-select: none;
  z-index: 1;
  position: absolute;
  background-color: var(--border-color);
  margin-left: calc(50% + 600px);
  height: 145px;
  width: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-arrow span {
  font-family: var(--header-font);  
  font-size: 40px;
  color: var(--foreground-color);
}

.nav-arrow {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.nav-arrow div {
  margin-top: 95px; 
  display: flex;
  justify-content: center;
}
